@import "bootstrap-overrides"
@import "../bootstrap/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body
    font-family: 'Kumbh Sans', sans-serif
    font-weight: bold
body, main, article, section
    overflow-x: hidden
*
    box-sizing: border-box
//共通
a
    color: $black
h3
    letter-spacing: 0.25rem
    text-align: center
    font-weight: bold
    span
        letter-spacing: 0.1rem
        display: block
        @extend .title-sm
img
    object-fit: cover
    width: 100%
dd
    margin-bottom: 15px
br
    +media-breakpoint-down(lg)
        display: none
//画像サイズ調整
@media (min-width: 576px)
    .w-sm-25
        width: 25% !important
    .w-sm-50
        width: 50% !important
    .w-sm-75
        width: 75% !important
    .w-sm-100
        width: 100% !important
    .w-sm-auto
        width: auto !important
@media (min-width: 768px)
    .w-md-25
        width: 25% !important
    .w-md-50
        width: 50% !important
    .w-md-75
        width: 75% !important
    .w-md-100
        width: 100% !important
    .w-md-auto
        width: auto !important
    .h-md-25
        height: 25% !important
    .h-md-50
        height: 50% !important
    .h-md-75
        height: 75% !important
    .h-md-100
        height: 100% !important
    .h-md-auto
        height: auto !important
@media (min-width: 992px)
    .w-lg-25
        width: 25% !important
    .w-lg-50
        width: 50% !important
    .w-lg-75
        width: 75% !important
    .w-lg-100
        width: 100% !important
    .w-lg-auto
        width: auto !important
@media (min-width: 1200px)
    .w-xl-25
        width: 25% !important
    .w-xl-50
        width: 50% !important
    .w-xl-75
        width: 75% !important
    .w-xl-100
        width: 100% !important
    .w-xl-auto
        width: auto !important
.m-auto-0
    margin: 0 auto
.gray-line
    border-top: solid 1px $gray-400
    +media-breakpoint-up(lg)
        width: 80%
.navbar-light .navbar-toggler-icon
    background-image: url("../img/toggler_icon.png")
    background-size: cover
    background-repeat: no-repeat
.bg-gray
    background-color: #f6f6f6
.row--wide
    margin-left: -40px
    margin-right: -40px
.row--wide>div
    padding-right: 40px
    padding-left: 40px
.text-base
    font-size: $font-size-base
.title-sm
    font-size: $h5-font-size
.title-md
    font-size: $h3-font-size
.title-lg
    font-size: $h2-font-size
    font-weight: bold
    @extend .letter-spacer-sm
    +media-breakpoint-down(md)
        font-size: 3rem
    +media-breakpoint-down(sm)
        font-size: 2.1rem
.title-xl
    font-size: $h1-font-size
    font-weight: bold
    @extend .letter-spacer-sm
    +media-breakpoint-down(md)
        font-size: 3.5rem
    +media-breakpoint-down(sm)
        font-size: 2.3rem
.text-md
    font-size: 1.3rem
    +media-breakpoint-down(sm)
        font-size: 1.1rem
.text-black
    color: $black
.text-pink
    color: $pink
.letter-spacer-sm
    letter-spacing: 0.1rem
.line-height-sm
    line-height: 2.7rem 
.stick-img
    margin-bottom: 0
    img
        width: 45px
.btn-pink
    background-color: $pink
    border-color: $pink
    color: $white
    padding: 15px 45px
    border-radius: 100px
    font-weight: normal
.container
    +media-breakpoint-down(sm)
        padding-left: 20px
        padding-right: 20px
.container--narrow
    max-width: 900px
.logo-img
    width: 250px
//ヘッダー
.header
    padding-top: 13px
    position: fixed
.navbar
    padding: 0
.navbar-brand
    font-family: 'Poiret One', cursive
    font-size: 2rem
.navbar-brand--white
    color: $white
.navbar-expand-lg .navbar-nav .nav-link
    padding-left: 30px
    padding-right: 30px
    color: $white
    transition: 0.7s
    &:hover
        color: $pink
    &:last-child
        padding-right: 0
.navbar-light .navbar-toggler
    border: none
.nav-item
    margin-top: 8px
h1
    color: $white
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    width: 100%
    font-weight: bold
.description-wrapper
    &__img
        margin-bottom: 10px
    &__title
        @extend .title-sm
        font-weight: bold
    &__text
        margin-bottom: 30px
.wrapper-circle
    text-align: center
    &__img
        margin:  0 auto
        margin-bottom: 20px
.media-content
    img
        width: 300px
.bg-img
    background-image: url("../img/bg_gray.jpg")
    background-repeat: no-repeat
    background-size: cover
.footer
    background-color: $black
    font-weight: normal
    img
        width: 250px
        margin-bottom: 50px
    ul
        margin-bottom: 50px
        list-style: none
        li
            color: $gray-600
            margin-bottom: 30px
            span
                display: block
                color: $gray-100
                margin-top: 5px
    .copyright
        color: $gray-700
//画像フルスクリーン
.full
    position: relative
    width: 100%
    min-height: 100vh
    background-image: url("../img/eye-catch.jpg")
    background-size: cover
    background-position: center